[Unit]
Description=Grow Fieldkit root partition to fill the boot media
After=multi-user.target
ConditionPathExists=/etc/fieldkit-growroot

[Service]
Type=oneshot
TimeoutStartSec=180
ExecStart=-/usr/local/sbin/fieldkit-growroot.sh
RemainAfterExit=yes
