openapi: 3.1.0
info:
  title: Fieldkit Device API
  description: |
    Versioned device API served from `https://fieldkit.infragilis.org`.
    This is the public contract the Fieldkit appliance sync client implements;
    it contains no server internals or secrets. Device access is authenticated
    with a device token linked to a server user. The manifest includes that user's
    personal files and subscribed shared data folders. The appliance only
    removes managed data files when its opt-in prune setting is enabled.
  version: 1.0.0
servers:
  - url: https://fieldkit.infragilis.org/api/v1
    description: Production (configurable at runtime)
security:
  - bearerAuth: []
paths:
  /device/update-latest:
    get:
      operationId: getDeviceUpdateLatest
      summary: Get the latest published appliance update
      responses:
        "200":
          description: Latest update metadata, or no available update.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/UpdateLatest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /device/report-requested:
    get:
      operationId: getDeviceReportRequested
      summary: Check whether an inventory report was requested
      responses:
        "200":
          description: Current report request flag.
          content:
            application/json:
              schema:
                type: object
                required: [requested]
                properties:
                  requested:
                    type: boolean
        "401":
          $ref: "#/components/responses/Unauthorized"
  /device/manifest:
    get:
      operationId: getDeviceManifest
      summary: List files available to this device
      responses:
        "200":
          description: Manifest of the user's personal files and currently subscribed data files.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Manifest"
        "401":
          $ref: "#/components/responses/Unauthorized"
  /device/files/{file_id}:
    get:
      operationId: getDeviceFile
      summary: Download one file from the manifest
      description: |
        Mirrored files (manifest entry `storage: "s3"`) are answered with a
        307 redirect to a short-lived presigned object-storage URL; clients
        must follow redirects and must not forward the bearer token to the
        redirect target. Clients may retry a failed mirrored download with
        `?source=origin` to ask the server to serve a local copy instead.
      parameters:
        - name: file_id
          in: path
          required: true
          schema:
            type: string
        - name: source
          in: query
          required: false
          schema:
            type: string
            enum: [origin]
          description: Serve the local copy even when the file is mirrored.
      responses:
        "200":
          description: File content.
          content:
            application/octet-stream:
              schema:
                type: string
                format: binary
        "307":
          description: Mirrored file; follow the Location header (presigned URL, not authenticated).
        "401":
          $ref: "#/components/responses/Unauthorized"
        "404":
          description: File id not found in the device manifest.
        "503":
          description: File is mirrored but object storage is unavailable on the server.
  /device/sync-results:
    post:
      operationId: reportSyncResults
      summary: Report the outcome of a sync back to the server
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SyncResults"
      responses:
        "202":
          description: Results accepted.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SyncResultsAccepted"
        "401":
          $ref: "#/components/responses/Unauthorized"
components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
  responses:
    Unauthorized:
      description: Missing or invalid device token, or the token's user no longer exists.
  schemas:
    Manifest:
      type: object
      required: [manifest_version, files]
      properties:
        manifest_version:
          type: integer
        files:
          type: array
          items:
            $ref: "#/components/schemas/ManifestEntry"
    ManifestEntry:
      type: object
      required: [id, name, path, size, sha256, library]
      properties:
        id:
          type: string
          description: Opaque identifier for this file version; IDs must be unique within a manifest. Identical bytes at different paths still have distinct IDs.
        name:
          type: string
          description: Full relative path on the server (e.g. `data/kits/x.txt` or `personal/<user>/y.txt`).
        path:
          type: string
          description: Path relative to the target library (e.g. `kits/x.txt` or `y.txt`).
        size:
          type: integer
        sha256:
          type: string
          description: Lowercase hex digest of the file content.
        version:
          type: integer
          description: Monotonic content version; higher replaces lower.
        library:
          type: string
          enum: [data, personal]
          description: Which appliance library the file belongs in.
        storage:
          type: string
          enum: [local, s3]
          description: Where the file is served from. `s3` means mirrored in object storage and downloads redirect there.
    SyncResults:
      type: object
      required: [device_id, files]
      properties:
        device_id:
          type: string
        files:
          type: array
          items:
            type: object
            required: [id, status]
            properties:
              id:
                type: string
              status:
                type: string
                enum: [ok, failed, skipped]
              error:
                type: string
                description: Optional failure detail.
        device_label:
          type: string
          description: Optional human-readable device label.
    SyncResultsAccepted:
      type: object
      required: [accepted]
      properties:
        accepted:
          type: boolean
          description: Whether the report was accepted for processing.
    UpdateLatest:
      type: object
      required: [available]
      properties:
        available:
          type: boolean
        version:
          type: string
        url:
          type: string
          format: uri
        sha256:
          type: string
          pattern: "^[0-9a-f]{64}$"
        published_at:
          type: string
          format: date-time
